
/*just messing with nav here*/
/*nav {
	width: 100%;
	background-image: url('images/space.png');
	height: 100px;
	position: relative;
}

nav .logo {
	color: yellow;
	display: block;
	position: absolute;
	margin: auto;
}*/
/*end messing with nav*/

.card {
	border: 1px solid lightgrey;
	border-radius: 4px;
	margin-bottom: 20px;
}

.top .card {
	margin-top: 70px;
}

.card img {
	width: 100%;
}


